.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px;
  width: calc((100% - 10px) / 3);
  min-width: 300px;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
}
.name,
.number {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 6px;
}
.btn {
  border-radius: 6px;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: 400;
}
