.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px;
  width: calc((100% - 20px) / 4);
  min-width: 300px;
  border: 1px solid green;
  border-radius: 10px;
  align-items: center;
}
.name,
.number {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 6px;
}
.btn {
  width: 120px;
  padding: 10px;
  background-color: black;
  color: rgba(20, 220, 20, 0.9);
  border: 1px solid green;
  margin-bottom: 30px;
}
