.btn {
  width: 100px;
  padding: 10px;
  background-color: black;
  color: rgba(20, 220, 20, 0.9);
  border: 1px solid green;
}
.menu {
  display: flex;
  gap: 15px;
  place-items: center;
}
.welc {
  font-size: 20px;
  font-weight: 500;
}
